html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  letter-spacing: 2px;
  display: flex;
  font-family: serif;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  background: #d5d5d8;
}

.form-container {
  background-color: #fff;
  min-width: 480px;
  min-height: 650px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form */
form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
  top: 6px;
}

.form-text {
  margin: 0;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 2px solid #30f0c0;
}

input:invalid {
  border: 2px solid #f37e71;
}

button {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 12px;
  color: rgb(241, 239, 239) !important;
  width: 100%;
  height: 56px;
  font-family: serif;
  font-size: 20px !important;
  letter-spacing: 2px !important;
}


button:hover {
  filter: brightness(200%);
  background: rgb(20, 20, 13) !important;
}

button:focus {
  outline: none;
}

.message-container {
  width: 90%;
  margin-top: 25px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center !important;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  /* background-color: #f3d0cc; */
  /* background-color: #cef8ee; */
}

#message {
  font-size: 18px !important;
  font-weight: 500;
}